[submodule ".registry"]
	path = .registry
	url = https://github.com/biocstaging/biocstaging.r-universe.dev
	branch = HEAD
[submodule "CMEnt"]
	path = CMEnt
	url = https://github.com/BiocStaging/CMEnt
[submodule "ClinicalVariantR"]
	path = ClinicalVariantR
	url = https://github.com/BiocStaging/ClinicalVariantR
[submodule "CySA"]
	path = CySA
	url = https://github.com/BiocStaging/CySA
[submodule "DAssemble"]
	path = DAssemble
	url = https://github.com/BiocStaging/DAssemble
[submodule "GO.ddb"]
	path = GO.ddb
	url = https://github.com/BiocStaging/GO.ddb
[submodule "GPlinksR"]
	path = GPlinksR
	url = https://github.com/BiocStaging/GPlinksR
[submodule "GSE142512"]
	path = GSE142512
	url = https://github.com/BiocStaging/GSE142512
[submodule "GSE280465"]
	path = GSE280465
	url = https://github.com/BiocStaging/GSE280465
[submodule "IntegratedLearner"]
	path = IntegratedLearner
	url = https://github.com/BiocStaging/IntegratedLearner
[submodule "LIPIDIFy"]
	path = LIPIDIFy
	url = https://github.com/BiocStaging/LIPIDIFy
[submodule "MOTL"]
	path = MOTL
	url = https://github.com/BiocStaging/MOTL
[submodule "MetaPathNet"]
	path = MetaPathNet
	url = https://github.com/BiocStaging/MetaPathNet
[submodule "MsBackendMassIVE"]
	path = MsBackendMassIVE
	url = https://github.com/BiocStaging/MsBackendMassIVE
[submodule "MsBackendMetabolomicsWorkbench"]
	path = MsBackendMetabolomicsWorkbench
	url = https://github.com/BiocStaging/MsBackendMetabolomicsWorkbench
[submodule "OmicsLake"]
	path = OmicsLake
	url = https://github.com/BiocStaging/OmicsLake
[submodule "PACMOSData"]
	path = PACMOSData
	url = https://github.com/BiocStaging/PACMOSData
[submodule "PTMsToPathwaysData"]
	path = PTMsToPathwaysData
	url = https://github.com/BiocStaging/PTMsToPathwaysData
[submodule "PlantTxDbHub"]
	path = PlantTxDbHub
	url = https://github.com/BiocStaging/PlantTxDbHub
[submodule "QuickBLAST"]
	path = QuickBLAST
	url = https://github.com/BiocStaging/QuickBLAST
[submodule "SimiCviz"]
	path = SimiCviz
	url = https://github.com/BiocStaging/SimiCviz
[submodule "TiDEomics"]
	path = TiDEomics
	url = https://github.com/BiocStaging/TiDEomics
[submodule "TxParq.Hs.gencode.v49"]
	path = TxParq.Hs.gencode.v49
	url = https://github.com/BiocStaging/TxParq.Hs.gencode.v49
[submodule "bHIVE"]
	path = bHIVE
	url = https://github.com/BiocStaging/bHIVE
[submodule "cellpaintr"]
	path = cellpaintr
	url = https://github.com/BiocStaging/cellpaintr
[submodule "consensusTADs"]
	path = consensusTADs
	url = https://github.com/BiocStaging/consensusTADs
[submodule "epiwraps"]
	path = epiwraps
	url = https://github.com/BiocStaging/epiwraps
[submodule "faissR"]
	path = faissR
	url = https://github.com/BiocStaging/faissR
[submodule "fastPLS"]
	path = fastPLS
	url = https://github.com/BiocStaging/fastPLS
[submodule "gdscloud"]
	path = gdscloud
	url = https://github.com/BiocStaging/gdscloud
[submodule "geneslator"]
	path = geneslator
	url = https://github.com/BiocStaging/geneslator
[submodule "grayleafspotr"]
	path = grayleafspotr
	url = https://github.com/BiocStaging/grayleafspotr
[submodule "inferRecom"]
	path = inferRecom
	url = https://github.com/BiocStaging/inferRecom
[submodule "karioCaS"]
	path = karioCaS
	url = https://github.com/BiocStaging/karioCaS
[submodule "loopcityData"]
	path = loopcityData
	url = https://github.com/BiocStaging/loopcityData
[submodule "multipletR"]
	path = multipletR
	url = https://github.com/BiocStaging/multipletR
[submodule "multipointR"]
	path = multipointR
	url = https://github.com/BiocStaging/multipointR
[submodule "pepVet"]
	path = pepVet
	url = https://github.com/BiocStaging/pepVet
[submodule "pepitope"]
	path = pepitope
	url = https://github.com/BiocStaging/pepitope
[submodule "polyICSFlow"]
	path = polyICSFlow
	url = https://github.com/BiocStaging/polyICSFlow
[submodule "reglScatterplotR"]
	path = reglScatterplotR
	url = https://github.com/BiocStaging/reglScatterplotR
[submodule "rvarsim"]
	path = rvarsim
	url = https://github.com/BiocStaging/rvarsim
[submodule "sbivar"]
	path = sbivar
	url = https://github.com/BiocStaging/sbivar
[submodule "scCertify"]
	path = scCertify
	url = https://github.com/BiocStaging/scCertify
[submodule "scMAGeCK"]
	path = scMAGeCK
	url = https://github.com/BiocStaging/scMAGeCK
[submodule "scOverlay"]
	path = scOverlay
	url = https://github.com/BiocStaging/scOverlay
[submodule "sciNOME"]
	path = sciNOME
	url = https://github.com/BiocStaging/sciNOME
[submodule "selexprepR"]
	path = selexprepR
	url = https://github.com/BiocStaging/selexprepR
[submodule "spatialdataR"]
	path = spatialdataR
	url = https://github.com/BiocStaging/spatialdataR
[submodule "spbtest3"]
	path = spbtest3
	url = https://github.com/Bioconductor/spbtest3
[submodule "spbtest5"]
	path = spbtest5
	url = https://github.com/Bioconductor/spbtest5
[submodule "tTEscanR"]
	path = tTEscanR
	url = https://github.com/BiocStaging/tTEscanR
[submodule "woven"]
	path = woven
	url = https://github.com/BiocStaging/woven
