[submodule ".registry"]
	path = .registry
	url = https://github.com/biocstaging/biocstaging.r-universe.dev
	branch = HEAD
[submodule "EMMA"]
	path = EMMA
	url = https://github.com/BiocStaging/EMMA
[submodule "GO.ddb"]
	path = GO.ddb
	url = https://github.com/BiocStaging/GO.ddb
[submodule "KEGGemUP"]
	path = KEGGemUP
	url = https://github.com/BiocStaging/KEGGemUP
[submodule "TxParq.Hs.gencode.v49"]
	path = TxParq.Hs.gencode.v49
	url = https://github.com/BiocStaging/TxParq.Hs.gencode.v49
[submodule "gesel"]
	path = gesel
	url = https://github.com/BiocStaging/gesel
[submodule "iSEEid"]
	path = iSEEid
	url = https://github.com/BiocStaging/iSEEid
[submodule "ontoProc2"]
	path = ontoProc2
	url = https://github.com/BiocStaging/ontoProc2
[submodule "pgen2gds"]
	path = pgen2gds
	url = https://github.com/BiocStaging/pgen2gds
[submodule "spatialdataR"]
	path = spatialdataR
	url = https://github.com/BiocStaging/spatialdataR
[submodule "spbtest3"]
	path = spbtest3
	url = https://github.com/Bioconductor/spbtest3
[submodule "spbtest5"]
	path = spbtest5
	url = https://github.com/Bioconductor/spbtest5
