[submodule ".registry"]
	path = .registry
	url = https://github.com/biocstaging/biocstaging.r-universe.dev
	branch = HEAD
[submodule "CMEnt"]
	path = CMEnt
	url = https://github.com/BiocStaging/CMEnt
[submodule "CySA"]
	path = CySA
	url = https://github.com/BiocStaging/CySA
[submodule "DAssemble"]
	path = DAssemble
	url = https://github.com/BiocStaging/DAssemble
[submodule "GO.ddb"]
	path = GO.ddb
	url = https://github.com/BiocStaging/GO.ddb
[submodule "GPlinksR"]
	path = GPlinksR
	url = https://github.com/BiocStaging/GPlinksR
[submodule "IntegratedLearner"]
	path = IntegratedLearner
	url = https://github.com/BiocStaging/IntegratedLearner
[submodule "LIPIDIFy"]
	path = LIPIDIFy
	url = https://github.com/BiocStaging/LIPIDIFy
[submodule "MOTL"]
	path = MOTL
	url = https://github.com/BiocStaging/MOTL
[submodule "MetaPathNet"]
	path = MetaPathNet
	url = https://github.com/BiocStaging/MetaPathNet
[submodule "MsBackendMassIVE"]
	path = MsBackendMassIVE
	url = https://github.com/BiocStaging/MsBackendMassIVE
[submodule "MsStash"]
	path = MsStash
	url = https://github.com/BiocStaging/MsStash
[submodule "MultiOmicsBridge"]
	path = MultiOmicsBridge
	url = https://github.com/BiocStaging/MultiOmicsBridge
[submodule "PACMOSData"]
	path = PACMOSData
	url = https://github.com/BiocStaging/PACMOSData
[submodule "PlantTxDbHub"]
	path = PlantTxDbHub
	url = https://github.com/BiocStaging/PlantTxDbHub
[submodule "SimiCviz"]
	path = SimiCviz
	url = https://github.com/BiocStaging/SimiCviz
[submodule "TiDEomics"]
	path = TiDEomics
	url = https://github.com/BiocStaging/TiDEomics
[submodule "TxParq.Hs.gencode.v49"]
	path = TxParq.Hs.gencode.v49
	url = https://github.com/BiocStaging/TxParq.Hs.gencode.v49
[submodule "bHIVE"]
	path = bHIVE
	url = https://github.com/BiocStaging/bHIVE
[submodule "consensusTADs"]
	path = consensusTADs
	url = https://github.com/BiocStaging/consensusTADs
[submodule "dbSequence"]
	path = dbSequence
	url = https://github.com/BiocStaging/dbSequence
[submodule "epiwraps"]
	path = epiwraps
	url = https://github.com/BiocStaging/epiwraps
[submodule "gdscloud"]
	path = gdscloud
	url = https://github.com/BiocStaging/gdscloud
[submodule "geneslator"]
	path = geneslator
	url = https://github.com/BiocStaging/geneslator
[submodule "grayleafspotr"]
	path = grayleafspotr
	url = https://github.com/BiocStaging/grayleafspotr
[submodule "karioCaS"]
	path = karioCaS
	url = https://github.com/BiocStaging/karioCaS
[submodule "loopcityData"]
	path = loopcityData
	url = https://github.com/BiocStaging/loopcityData
[submodule "multipointR"]
	path = multipointR
	url = https://github.com/BiocStaging/multipointR
[submodule "ontoProc2"]
	path = ontoProc2
	url = https://github.com/BiocStaging/ontoProc2
[submodule "pepitope"]
	path = pepitope
	url = https://github.com/BiocStaging/pepitope
[submodule "polyICSFlow"]
	path = polyICSFlow
	url = https://github.com/BiocStaging/polyICSFlow
[submodule "reglScatterplotR"]
	path = reglScatterplotR
	url = https://github.com/BiocStaging/reglScatterplotR
[submodule "rvarsim"]
	path = rvarsim
	url = https://github.com/BiocStaging/rvarsim
[submodule "sbivar"]
	path = sbivar
	url = https://github.com/BiocStaging/sbivar
[submodule "scCompoundDE"]
	path = scCompoundDE
	url = https://github.com/BiocStaging/scCompoundDE
[submodule "scOverlay"]
	path = scOverlay
	url = https://github.com/BiocStaging/scOverlay
[submodule "sciNOME"]
	path = sciNOME
	url = https://github.com/BiocStaging/sciNOME
[submodule "spatialdataR"]
	path = spatialdataR
	url = https://github.com/BiocStaging/spatialdataR
[submodule "spbtest3"]
	path = spbtest3
	url = https://github.com/Bioconductor/spbtest3
[submodule "spbtest5"]
	path = spbtest5
	url = https://github.com/Bioconductor/spbtest5
[submodule "woven"]
	path = woven
	url = https://github.com/BiocStaging/woven
